{% extends "base.html" %}
{% load static %}
{% block content %}
                <h2>{{ object.title }}</h2>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">{{ object.author }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><i class="far fa-clock"></i> Posted on {{ object.date_posted }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid" src="{{ object.image.url }}" alt="">

                <hr>

                <!-- Post Content -->
                <p>{{ object.content }}</p>

                <hr>
                <div class="post-buttons-panel">
                    <a href="{% url 'post-update' object.slug %}" class="btn btn-danger">Update</a>
                    <a href="{% url 'post-delete' object.slug %}" class="btn btn-danger">Delete</a>
                </div>
                <hr>
                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="card card-body">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

{% endblock %}