.container{
    margin-top: 20px;
}

.container a {
    text-decoration: none;
}

.card{
    background-color: #f5f5f5;
}

footer {
    margin: 50px 0;
}

.navbar{
    background-color: #506dc6;
}

.content-section form{
    width: 90%;
}

.content-section label{
    font-family: 'Josefin Sans', sans-serif;
}

.content-section select{
    width: 40%;
}

.content-section #id_image{

}

.content-section button:hover{
    background-color: #4e72dd;
    border-color: #4e72dd;
}


.buttons-paginate .btn-info{
    background-color: #4e72dd;
    border: #4e72dd;
}

.buttons-paginate .btn-outline-info:hover{
    background-color: #4e72dd;
    border-color: #4e72dd;
}

.btn-outline-info, .btn-info{
    border-color: #4e72dd;

}

.btn-outline-info{
    color: #4e72dd;
}

.post-buttons-panel a{
    background-color: #4e72dd;
    border-color: #4e72dd;
}

.post-buttons-panel a:hover{
    background-color: #4e72dd;
    border-color: #4e72dd;
}